* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.navbar {
    padding: 20px 10px !important;

    .hover-nav {
        border-bottom: 2px solid #F6F2EB;

        &:hover {
            border-image: linear-gradient(to right, #C0304F, #C0304F 70%, #F6F2EB 70%, #F6F2EB 80%, #C0304F 80%, #C0304F);
            border-image-slice: 1;
        }
    }

    background-color: #F6F2EB !important;

    .nav-logo {
        background-color: #F6F2EB !important;
    }
}

.hero {
    background-color: #F6F2EB;

    h3 {
        font-size: 25px;
    }

    .row {
        &>div:nth-child(1) {
            order: 0;

            &>div {
                width: 280px;
                margin: 10px 0;
                border: 1px solid #DDDDDD;
                border-radius: 50% 50% 0 0;
            }

            .button-nav {
                width: 60px;
                height: 60px;
                border-radius: 50%;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }

        &>div:nth-child(2) {
            order: 4;
        }

        &>div:nth-child(3) {
            order: 3;

            &>div.statue {
                border: 1px solid #DDDDDD;
                border-radius: 50% 50% 0 0;
            }
        }
    }

    .donate {
        .large-text {
            font-size: 50px;
            font-style: italic;
        }

        .separator {
            width: 1px;
            height: 80px;
            background-color: #DDDDDD;
        }

        p {
            max-width: 500px;
        }

        .donate-logo {
            width: 150px;
            top: -40%;

            img {
                width: 100%;
            }
        }
    }
}

.we-call {
    .title {
        max-width: 220px;
        padding-left: 10px;
        border-left: 3px solid #C0304F;
    }

    h3 {
        font-family: "roboto-sarif";
        font-size: 22px;
        max-width: 250px;
    }

    h6 {
        max-width: 250px;
    }

    max-width: 1000px;
    margin:auto;

    .row {
        img {
            margin: auto;
            width: 80%;
            max-width: 300px;
        }
    }

    .we-call-info {
        max-width: 400px;
    }
}

.join-us {
    .join-us-body {
        max-width: 900px;
        background-color: #FFE6E0;
        border-radius: 4px;

        .separator {
            min-width: 1px !important;
            margin: 10px;
            background-color: #BAA7A3;
        }

        margin: auto;

        h4 {
            font-family: "roboto-sarif";
        }

        .team-images {
            img {
                width: 50px;
                margin-left: -15px;
            }
        }
    }
}

.faithful-heart {
    &>div {
        flex: 1;
    }

    .picture {
        img {
            max-width: 450px;
        }
    }

    .text {
        .title {
            border-left: 2px solid rgb(176, 22, 22);
            padding-left: 10px;
            max-width: 400px;
        }

        max-width: 500px;
    }

    .famous-quote {
        border: 2px dashed black;
        width: 180px;
    }

    .martin {
        font-size: 20px;
        font-weight: 500;
    }

    .martin::before {
        content: url("../../../Images/Home/FaithfulHeart/quote.svg");
        margin-right: 10px !important;
        position: relative;
        top: 0;
    }

}

.grow-stronger {
    &>div {
        flex: 1
    }

    .text {
        .title {
            max-width: 400px;
        }

        .points {
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid black;
            }
        }
    }

    .image {
        .hand {
            left: -10%;
            bottom: -10%;
        }

        .girl {
            height: 500px;
        }
    }
}

.mission {
    .mission-head {
        max-width: 1000px;

        h2 {
            max-width: 300px;
            border-left: 2px solid #C0304F;
            padding-left: 10px;
        }

        h5 {
            max-width: 400px;
        }
    }

    .ministries-card {
        max-width: 350px;
        border-radius: 25px 25px 25px 0px;
        transition: ease-in-out 400ms;
        h4{
            font-family: "roboto-sarif";
            font-size: 22px;
            font-weight: 600 ;

        }
        &:hover {
            transform: scale(1.05);
            background-color: #FFE6E0;
        }

        .card-img {
            width: 80px;
        }

        a {
            color: #232526;
        }

        .dot {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #232526;
            color: white;
            border-radius: 20px;
        }

    }
}

.events {
    .event-body {
        overflow-x: hidden;
        max-width: 1000px;
        margin: auto;
    }

    .event-header {
        max-width: 1000px;

        .title {
            max-width: 200px;
            border-left: 2px solid #C0304F;
            padding-left: 10px;
        }

        .subtitle {
            max-width: 400px;
        }
    }

    .event-card {
        margin: 20px;
        min-width: 250px;
        border-radius: 15px;
        overflow: hidden;

        .card-body {
            max-width: 350px;

            h3 {
                font-family: "roboto-sarif";
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    .move-btns {

        .move-left,
        .move-right {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 25px;
            border: 1px solid #DDDDDD;

            &:hover {
                background-color: #C0304F;
                color: white;
            }
        }
    }
}

.latest-article {
    max-width: 1000px;
    margin: auto;

    .article-head{
        margin: auto;

        .title {
            max-width: 250px;
            border-left: 2px solid #C0304F;
            padding-left: 10px;
        }

        .subtitle {
            max-width: 400px;
        }

    }

    .article-img {
        background-image: url('../../../Images/Home/Article/church.svg');
        background-position: center;
        border-radius: 10px;
        max-width: 600px;
        margin: auto;

        .feature-card {
            h4 {
                font-size: 18px;
            }

            h3 {
                font-size: 22px;
                font-family: "roboto-sarif";
                font-weight: 600;
            }

            border-radius: 6px;
            background-color: white;
            max-width: 300px;
        }

    }

    .suscribe-form {
        max-width: 500px;
        border-radius: 10px;

        .form-head {
            font-family: "roboto-sarif";
            font-weight: 600;
        }

        &>input {
            &::placeholder {
                font-size: 10px;
                margin: auto;
                color: #B3B3B3;
            }

            padding:10px;
            border: 1px solid #DDDDDD;
            border-radius: 6px;
        }
    }

    .articles {
        .article-card {
            max-width: 300px;
            border-radius: 8px;

            h3 {
                font-family: "roboto-sarif";
                font-weight: 600;
                font-size: 22px;
            }
        }
    }
}




.feel-god {
    padding: 50px 0;
    max-width: 1000px;
    margin: auto;

    .feel-god-header {
        h2 {

            border-left: 2px solid #C0304F;
            padding-left: 20px;
            max-width: 350px;
            line-height: 40px;
        }

        h6 {
            max-width: 400px;
        }
    }

    .members {
        margin: auto;

        .card {
            height: 420px;
            justify-content: start !important;

            .social {
                visibility: hidden;
            }

            .share {
                height: 42px;
                width: 42px !important;
                border: 1px solid #dddddd;
                border-radius: 50%;

                img {
                    width: 20px;
                }
            }

            border:none;

            h4 {
                font-family: "roboto-sarif";
                font-size: 22px;
                font-weight: 600;
                margin: 10px 0;
            }

            padding:20px 10px;
            max-width: 300px;
            margin:auto;

            &>img {
                margin: auto;
                max-width: 220px;
            }

            .details {
                &:hover {
                    .social {
                        visibility: unset;
                        display: flex;

                        img {
                            margin-right: 10px;
                        }
                    }

                    .share {
                        display: none;
                        background-color: #C0304F;

                        img {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg) brightness(107%) contrast(101%);
                        }
                    }
                }
            }

        }
    }
}

@media (min-width:1024px) {
    .grow-stronger {
        .image {
            .girl {
                position: absolute !important;
            }
        }
    }

}




@media screen and (min-width:768px) {
    .events {
        .event-card {
            min-width: 600px;
            max-height: 320px;
            border-radius: 5px;
            img {
                max-width: 200px;
            }
        }
    }

    .latest-article {
        .article-header {
            max-width: 800px;
        }
    }

    .hero {
        .row {
            &>div:nth-child(2) {
                order: 2;
            }
        }
    }

}