* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.navbar {
  padding: 20px 10px !important;
  background-color: #F6F2EB !important;
}
.navbar .hover-nav {
  border-bottom: 2px solid #F6F2EB;
}
.navbar .hover-nav:hover {
  -o-border-image: linear-gradient(to right, #C0304F, #C0304F 70%, #F6F2EB 70%, #F6F2EB 80%, #C0304F 80%, #C0304F);
     border-image: linear-gradient(to right, #C0304F, #C0304F 70%, #F6F2EB 70%, #F6F2EB 80%, #C0304F 80%, #C0304F);
  border-image-slice: 1;
}
.navbar .nav-logo {
  background-color: #F6F2EB !important;
}

.hero {
  background-color: #F6F2EB;
}
.hero h3 {
  font-size: 25px;
}
.hero .row > div:nth-child(1) {
  order: 0;
}
.hero .row > div:nth-child(1) > div {
  width: 280px;
  margin: 10px 0;
  border: 1px solid #DDDDDD;
  border-radius: 50% 50% 0 0;
}
.hero .row > div:nth-child(1) .button-nav {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.hero .row > div:nth-child(1) .button-nav img {
  width: 50%;
  height: 50%;
}
.hero .row > div:nth-child(2) {
  order: 4;
}
.hero .row > div:nth-child(3) {
  order: 3;
}
.hero .row > div:nth-child(3) > div.statue {
  border: 1px solid #DDDDDD;
  border-radius: 50% 50% 0 0;
}
.hero .donate .large-text {
  font-size: 50px;
  font-style: italic;
}
.hero .donate .separator {
  width: 1px;
  height: 80px;
  background-color: #DDDDDD;
}
.hero .donate p {
  max-width: 500px;
}
.hero .donate .donate-logo {
  width: 150px;
  top: -40%;
}
.hero .donate .donate-logo img {
  width: 100%;
}

.we-call {
  max-width: 1000px;
  margin: auto;
}
.we-call .title {
  max-width: 220px;
  padding-left: 10px;
  border-left: 3px solid #C0304F;
}
.we-call h3 {
  font-family: "roboto-sarif";
  font-size: 22px;
  max-width: 250px;
}
.we-call h6 {
  max-width: 250px;
}
.we-call .row img {
  margin: auto;
  width: 80%;
  max-width: 300px;
}
.we-call .we-call-info {
  max-width: 400px;
}

.join-us .join-us-body {
  max-width: 900px;
  background-color: #FFE6E0;
  border-radius: 4px;
  margin: auto;
}
.join-us .join-us-body .separator {
  min-width: 1px !important;
  margin: 10px;
  background-color: #BAA7A3;
}
.join-us .join-us-body h4 {
  font-family: "roboto-sarif";
}
.join-us .join-us-body .team-images img {
  width: 50px;
  margin-left: -15px;
}

.faithful-heart > div {
  flex: 1;
}
.faithful-heart .picture img {
  max-width: 450px;
}
.faithful-heart .text {
  max-width: 500px;
}
.faithful-heart .text .title {
  border-left: 2px solid rgb(176, 22, 22);
  padding-left: 10px;
  max-width: 400px;
}
.faithful-heart .famous-quote {
  border: 2px dashed black;
  width: 180px;
}
.faithful-heart .martin {
  font-size: 20px;
  font-weight: 500;
}
.faithful-heart .martin::before {
  content: url("../../../Images/Home/FaithfulHeart/quote.svg");
  margin-right: 10px !important;
  position: relative;
  top: 0;
}

.grow-stronger > div {
  flex: 1;
}
.grow-stronger .text .title {
  max-width: 400px;
}
.grow-stronger .text .points span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.grow-stronger .image .hand {
  left: -10%;
  bottom: -10%;
}
.grow-stronger .image .girl {
  height: 500px;
}

.mission .mission-head {
  max-width: 1000px;
}
.mission .mission-head h2 {
  max-width: 300px;
  border-left: 2px solid #C0304F;
  padding-left: 10px;
}
.mission .mission-head h5 {
  max-width: 400px;
}
.mission .ministries-card {
  max-width: 350px;
  border-radius: 25px 25px 25px 0px;
  transition: ease-in-out 400ms;
}
.mission .ministries-card h4 {
  font-family: "roboto-sarif";
  font-size: 22px;
  font-weight: 600;
}
.mission .ministries-card:hover {
  transform: scale(1.05);
  background-color: #FFE6E0;
}
.mission .ministries-card .card-img {
  width: 80px;
}
.mission .ministries-card a {
  color: #232526;
}
.mission .ministries-card .dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #232526;
  color: white;
  border-radius: 20px;
}

.events .event-body {
  overflow-x: hidden;
  max-width: 1000px;
  margin: auto;
}
.events .event-header {
  max-width: 1000px;
}
.events .event-header .title {
  max-width: 200px;
  border-left: 2px solid #C0304F;
  padding-left: 10px;
}
.events .event-header .subtitle {
  max-width: 400px;
}
.events .event-card {
  margin: 20px;
  min-width: 250px;
  border-radius: 15px;
  overflow: hidden;
}
.events .event-card .card-body {
  max-width: 350px;
}
.events .event-card .card-body h3 {
  font-family: "roboto-sarif";
  font-size: 24px;
  font-weight: 600;
}
.events .move-btns .move-left,
.events .move-btns .move-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  border: 1px solid #DDDDDD;
}
.events .move-btns .move-left:hover,
.events .move-btns .move-right:hover {
  background-color: #C0304F;
  color: white;
}

.latest-article {
  max-width: 1000px;
  margin: auto;
}
.latest-article .article-head {
  margin: auto;
}
.latest-article .article-head .title {
  max-width: 250px;
  border-left: 2px solid #C0304F;
  padding-left: 10px;
}
.latest-article .article-head .subtitle {
  max-width: 400px;
}
.latest-article .article-img {
  background-image: url("../../../Images/Home/Article/church.svg");
  background-position: center;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}
.latest-article .article-img .feature-card {
  border-radius: 6px;
  background-color: white;
  max-width: 300px;
}
.latest-article .article-img .feature-card h4 {
  font-size: 18px;
}
.latest-article .article-img .feature-card h3 {
  font-size: 22px;
  font-family: "roboto-sarif";
  font-weight: 600;
}
.latest-article .suscribe-form {
  max-width: 500px;
  border-radius: 10px;
}
.latest-article .suscribe-form .form-head {
  font-family: "roboto-sarif";
  font-weight: 600;
}
.latest-article .suscribe-form > input {
  padding: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
}
.latest-article .suscribe-form > input::-moz-placeholder {
  font-size: 10px;
  margin: auto;
  color: #B3B3B3;
}
.latest-article .suscribe-form > input::placeholder {
  font-size: 10px;
  margin: auto;
  color: #B3B3B3;
}
.latest-article .articles .article-card {
  max-width: 300px;
  border-radius: 8px;
}
.latest-article .articles .article-card h3 {
  font-family: "roboto-sarif";
  font-weight: 600;
  font-size: 22px;
}

.feel-god {
  padding: 50px 0;
  max-width: 1000px;
  margin: auto;
}
.feel-god .feel-god-header h2 {
  border-left: 2px solid #C0304F;
  padding-left: 20px;
  max-width: 350px;
  line-height: 40px;
}
.feel-god .feel-god-header h6 {
  max-width: 400px;
}
.feel-god .members {
  margin: auto;
}
.feel-god .members .card {
  height: 420px;
  justify-content: start !important;
  border: none;
  padding: 20px 10px;
  max-width: 300px;
  margin: auto;
}
.feel-god .members .card .social {
  visibility: hidden;
}
.feel-god .members .card .share {
  height: 42px;
  width: 42px !important;
  border: 1px solid #dddddd;
  border-radius: 50%;
}
.feel-god .members .card .share img {
  width: 20px;
}
.feel-god .members .card h4 {
  font-family: "roboto-sarif";
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}
.feel-god .members .card > img {
  margin: auto;
  max-width: 220px;
}
.feel-god .members .card .details:hover .social {
  visibility: unset;
  display: flex;
}
.feel-god .members .card .details:hover .social img {
  margin-right: 10px;
}
.feel-god .members .card .details:hover .share {
  display: none;
  background-color: #C0304F;
}
.feel-god .members .card .details:hover .share img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg) brightness(107%) contrast(101%);
}

@media (min-width: 1024px) {
  .grow-stronger .image .girl {
    position: absolute !important;
  }
}
@media screen and (min-width: 768px) {
  .events .event-card {
    min-width: 600px;
    max-height: 320px;
    border-radius: 5px;
  }
  .events .event-card img {
    max-width: 200px;
  }
  .latest-article .article-header {
    max-width: 800px;
  }
  .hero .row > div:nth-child(2) {
    order: 2;
  }
}/*# sourceMappingURL=styles.css.map */